@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "vazir";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url ("");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
